# Core ML
sentence-transformers==2.7.0
transformers==4.41.0
faiss-cpu

# HuggingFace datasets and all its required dependencies
datasets
huggingface_hub
multiprocess
dill
pyarrow
pandas
numpy<2
xxhash
fsspec
requests
packaging
pyyaml
aiohttp
tqdm
filelock
python-dateutil

# LangChain
langchain
langchain-community
langchain-core
langchain-openai
langchain-text-splitters

# API & secrets
openai
python-dotenv
httpx

# Testing
ragas